body {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Onest";
  /* src: url("/public/Onest.ttf"); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  display: flex;
  height: 100px;
  place-items: center;
}

.menu{
  height: 100px;
  width: 100%;
  align-content: center;
}

header a{
  font-size: 18px;
  font-weight: 500;
  margin-right: 3%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

header a:hover {
  color:#4824ff;
  filter:  drop-shadow(0px 0px 50px #4824ff);
}